* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* header section */
.header-section {
    background-image: url("../images/donation7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.header-info {
    text-align: center;
    padding: 350px 400px 300px;

}

.header-title {
    font-size: 70px;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    color: lightgray;
    margin-bottom: 25px;

}

.button {
    background-color: #FF5959;
    color: white;
    border-radius: 5px;
    border-style: none;
    font-weight: 600px;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button-header {
    padding: 15px 30px;
}

/* amount section */
.amount-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.amount-info {
    text-align: center;
}

.amount-title {
    font-size: 70px;
    font-weight: 800px;
    margin-bottom: 20px;
    font-family: sans-serif;

}

.amount-description {
    font-size: 20px;
    color: #707070;
    margin-bottom: 50px;

}

.amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.taka {
    margin-right: 40px;
    padding: 40px 50px;
    background: #FAFAFA;
    border-style: none;
    border-radius: 18px;
    font-size: 30px;
    font-weight: 700px;
    color: #707070;
}

.premium-offer {
    background: #FFEEEE;
    border: 2px solid #FF5959;
}

.other-amount {
    font-size: 20px;
    color: #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
    margin-bottom: 40px;
}

.amount-button {
    padding: 15px 30px;
    font-weight: 700px;
}

/* donation plan styles */

.donation-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.first-info {
    text-align: center;
}

.donation-title {
    font-size: 70px;
    font-weight: 800px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.donation-description {
    font-size: 20px;
    color: #707070;
    margin-bottom: 50px;
}

.second-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 170px;
    gap: 40px;
}

.plan {
    padding: 120px 20px 80px;
    border-radius: 7px;
}

.one {
    background: rgba(79, 157, 166, 0.1);
}

.two {
    background: rgba(255, 89, 89, 0.1);
}

.three {
    background: #fff4d6;
}

.plan-title {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 700px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.plan-description {
    font-size: 20px;
    color: #707070;
}

/* contribution styles */
.contribute-section {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.contribute {
    margin-left: 200px;
    padding: 0 20px 15px 0;
}

.contribute-title {
    font-size: 55px;
    font-weight: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;
}

.contribute-description {
    font-size: 20px;
    color: #707070;
    margin-bottom: 20px;
}

.picture img {
    width: 700px;
    height: 600px;
    margin-right: 250px;
    border-radius: 20px;
}
.how-contribute{
    background-color: #FF5959;
    color: white;
    border-radius: 5px;
    border-style: none;
    font-weight: 700px;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 16px 30px;
}
/* contact section */
.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact-title{
    font-size: 55px;
    font-weight: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;
}
.contact-description{
    font-size: 20px;
    color: #707070;
    margin-bottom: 60px;
}
.input{
    background-color: #FFF4D6;
    padding:100px 350px;
    border-radius: 10px;
    border-style: none;
}
.email{
    background-color:#D9D9D9 ;
    color: #707070;
    border-style: none;
    padding: 20px 90px 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.subscribe{
    background-color: #FF5959;
    border-style: none;
    color: white;
    padding:20px 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* footer section */
.footer{
    display: flex;
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
}
.footer-info{
    color: white;
}
.footer-title{
    color: #FF5959;
    font-family: cursive;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.confidence{
    color: #c4bcbc;
    font-size: 20px;
}